<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🕖 时钟罗盘</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../src/img/favicon.ico" />
  <link rel="stylesheet" href="../../src/css/clock.css">
</head>

<body>

  <div class="main-content">
    <div class="year"></div>
    <div class="month"></div>
    <div class="day"></div>
    <div class="week"></div>
    <div class="shichen"></div>
    <div class="hour"></div>
    <div class="minute"></div>
    <div class="second"></div>
  </div>

  <script src="../../src/js/lib/jquery-2.1.1.min.js"></script>
  <script src="./lib/index.js"></script>
  <script src="./lib/common.js"></script>
  <script src="./lib/config.js"></script>
</body>

</html>
