* {
  // font-size: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  // user-select: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  background: #fafafa;
  font-family: Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
}

.home-container {
  width: 100%;
  overflow: hidden;

  .box-container {
    width: 100%;
    overflow: hidden;

    .head-box {
      width: 100%;
      height: 38px;
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-image: radial-gradient(transparent 1px, #fff 1px);
      background-size: 4px 4px;
      backdrop-filter: saturate(50%) blur(4px);
      -webkit-backdrop-filter: saturate(50%) blur(4px);
    }

    .sidebar-box {
      position: fixed;
      left: 0;
      top: 38px;
      bottom: 0;
      width: 320px;
      height: calc(100% - 38px);
      background-color: hsla(0, 0%, 100%, 0.8);
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      overflow-x: hidden;
      overflow-y: auto;

      &:hover {
        &::-webkit-scrollbar {
          display: block;
        }
      }

      &::-webkit-scrollbar {
        display: none;
        width: 8px;
        background-color: rgba(220, 220, 220, 0.1);
        border-radius: 2px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(220, 220, 220, 0.1);
      }

      &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: rgba(200, 200, 200, 0.3);
        border-radius: 2px;
      }

      .mdlists {
        &>li {
          margin-top: 12px;

          .sidebar-group {
            padding-left: 16px;
            cursor: pointer;

            span {
              line-height: 36px;
              font-size: 16px;
              font-weight: bold;
              color: #00323c;
              font-family: PingFang SC, Microsoft YaHei;

              &:hover {
                color: #42b883;
              }

              &.arrow {
                position: relative;
                top: -0.12em;
                left: 0.5em;
                display: inline-block;
                width: 0;
                height: 0;

                &.right {
                  border-top: 4px solid transparent;
                  border-bottom: 4px solid transparent;
                  border-left: 6px solid #ccc;
                }

                &.down {
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 6px solid #42b883;
                }
              }
            }
          }

          &>ul {
            display: none;

            &>li {
              color: #00323c;
              font-size: 14px;
              padding: 6px 16px 6px 34px;
              cursor: pointer;
              font-family: "Courier New", Microsoft YaHei;

              &:hover {
                color: #42b883;
              }

              &.actived {
                font-weight: 600;
                color: #42b883;
                border-left: 4px solid #42b883;
                padding-left: 30px;
                background-color: #42b88310;
              }
            }
          }

          &.open {
            &>ul {
              display: block;
            }
          }
        }
      }
    }

    .main-box {
      float: left;
      width: 860px;
      min-width: 0;
      margin-left: 320px + 188px;
      margin-top: 38px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .rightmenuwrap {
      float: left;
      margin-top: 38px;
      margin-left: 30px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      padding: 8px 16px 16px;

      &.fixed {
        position: fixed;
        top: 38px;
        max-height: calc(100% - 90px);
        margin-top: 0;
        overflow-x: hidden;
        overflow-y: auto;

        &:hover {
          &::-webkit-scrollbar {
            display: block;
          }
        }

        &::-webkit-scrollbar {
          display: none;
          width: 8px;
          background-color: rgba(220, 220, 220, 0.1);
          border-radius: 2px;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(220, 220, 220, 0.1);
        }

        &::-webkit-scrollbar-thumb {
          width: 8px;
          background-color: rgba(200, 200, 200, 0.3);
          border-radius: 2px;
        }
      }

      .title {
        color: #00323c;
        font-weight: bold;
        line-height: 32px;
      }

      ul {
        li {
          line-height: 24px;
          font-size: 14px;
          color: #00323c;
          text-decoration: none;


          &.rightmenu1 {}

          &.rightmenu2 {
            padding-left: 10px;

            &>span {
              color: #00323c90;
              font-size: 13.8px;
            }
          }

          &.rightmenu3 {
            padding-left: 20px;

            &>span {
              color: #00323c80;
              font-size: 13.6px;
            }
          }

          &.rightmenu4 {
            padding-left: 30px;

            &>span {
              color: #00323c70;
              font-size: 13.4px;
            }
          }

          &>span {
            cursor: pointer;

            &:hover {
              color: #42b883;
              border-bottom: 1px solid #42b883;
            }
          }

        }
      }
    }
  }
}

.footer-wrap {
  width: calc(100% - 320px);
  line-height: 32px;
  text-align: center;
  color: #00000080;
  font-size: 12px;
  margin-left: 320px;
  padding: 32px 0 16px;
}

.back-top-btn {
  display: none;
  position: fixed;
  right: 90px;
  bottom: 50px;
  width: 48px;
  height: 48px;
  background-image: url(../img/backtop.svg);
  cursor: pointer;
  opacity: 0.5;
  transition: .5s;
  transition-delay: .2s;
  border-radius: 50%;

  &:hover {
    opacity: 0.9;
    bottom: 58px;
    background-color: #00000015;
  }

  &.toping {
    opacity: 0.9;
    bottom: 200px;
  }
}


#outerdiv {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;

  &>div {
    position: absolute;

    &>img {
      border: 5px solid #fff;
    }
  }
}

.webpagewrap {
  padding: -16px;

  h1 {
    padding: 0 16px;
    font-size: 18px;
    color: #000;
  }

  h2 {
    padding: 0 16px;
    font-size: 14px;
    color: #999;
    border: none;
    position: relative;

    &::before {
      position: absolute;
      left: 16px;
      right: 0;
      bottom: 0;
      content: "";
      border-bottom: 1px dashed #999;
    }
  }

  .weblistwrap {
    width: 100%;
    overflow: hidden;
    padding: 0 12px;
    margin-top: 8px;

    li {
      float: left;
      width: calc(100% / 3 - 4px);
      height: 52px;
      margin: 4px 2px !important;
      box-sizing: border-box;
      position: relative;

      &.tag {

        // &::before {
        //   content: "★";
        //   position: absolute;
        //   left: 0;
        //   top: -2px;
        //   color: #ff6000;
        //   font-size: 12px;
        //   opacity: 0.6;
        // }
        a {
          border-color: #42b88350;
          background: linear-gradient(15deg, #fff 30%, #42b88320 60%, #42b88360 100%);
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 4px 8px;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #e4e7ed;
        position: relative;
        background: linear-gradient(15deg, #fff 30%, #cccccc50 60%, #cccccc 100%);

        &>span {
          color: #606266;

          &.icon {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            background-repeat: no-repeat;
            background-position: right 4px top 4px;
            background-size: auto 18px;
            opacity: 0.8;
          }
        }

        &>i {
          display: block;
          color: #5a5a5a;
          font-size: 12px;
          font-weight: normal;
        }

        &:hover {
          border-color: #42b883;
          background: linear-gradient(15deg, #fff 30%, #42b88350 60%, #42b883 100%);

          &>span {
            color: #42b883;
          }
        }
      }

      .icon_element {
        background-image: url(../img/webicon/element-plus-logo.svg);
      }

      .icon_huatools {
        background-image: url(../img/webicon/huatools.png);
      }

      .icon_gitee {
        background-image: url(../img/webicon/gitee.svg);
      }

      .icon_figma {
        background-image: url(../img/webicon/figma.png);
      }

      .icon_deepseek {
        background-image: url(../img/webicon/deepseek-logo.png);
      }

      .icon_echart {
        background-image: url(../img/webicon/echart-logo.png);
      }

      .icon_highcharts {
        background-image: url(../img/webicon/highcharts-logo.png);
      }

      .icon_iconfont {
        background-image: url(../img/webicon/iconfont-logo.svg);
      }

      .icon_mapbox {
        background-image: url(../img/webicon/mapbox-logo.svg);
      }

      .icon_ngzorro {
        background-image: url(../img/webicon/ng-zorro-logo.svg);
      }

      .icon_layui {
        background-image: url(../img/webicon/Layui-logo.png);
      }

      .icon_naiveui {
        background-image: url(../img/webicon/naiveui-logo.svg);
      }

      .icon_github {
        background-image: url(../img/webicon/github-logo.png);
      }

      .icon_vuejs {
        background-image: url(../img/webicon/vuejs-logo.svg);
      }

      .icon_plotly {
        background-image: url(../img/webicon/plotly-logo.png);
      }

      .icon_Qunee {
        background-image: url(../img/webicon/Qunee-logo.png);
        background-size: auto !important;
      }

      .icon_doubao {
        background-image: url(../img/webicon/doubao-logo.png);
      }

      .icon_qianwen {
        background-image: url(../img/webicon/qianwen-logo.png);
      }
    }
  }
}
