* {
  // font-size: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  // user-select: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rilibox {
  width: 66vw;
  box-sizing: border-box;
  padding: 50px 24px;
  margin: 0 auto;

  .yearbox {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
}

.switchover {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  opacity: 0.2;

  &.left {
    left: 36px;
    background-image: url(../img/icon/icon_left.png);
  }

  &.right {
    right: 36px;
    background-image: url(../img/icon/icon_right.png);
  }

  &.hidden {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
}

.timelinewrap {
  width: 66vw;
  box-sizing: border-box;
  padding: 50px 24px;
  margin: 0 auto;

  ul {
    li {
      --timeline-node-color: #e4e7ed;
      --timeline-node-size-normal: 12px;
      --text-color-secondary: #909399;
      position: relative;
      padding-bottom: 20px;

      &:last-child{
        .item__tail{
          display: none;
        }
      }

      .item__tail {
        position: absolute;
        left: 4px;
        height: 100%;
        border-left: 2px solid var(--timeline-node-color);
      }

      .item__node {
        position: absolute;
        left: -1px;
        width: var(--timeline-node-size-normal);
        height: var(--timeline-node-size-normal);
        background-color: var(--timeline-node-color);
        border-color: var(--timeline-node-color);
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .item__wrapper {
        position: relative;
        top: -3px;
        box-sizing: content-box;
        padding-left: 28px;

        .item__timestamp {
          color: var(--text-color-secondary);
          line-height: 1;
          font-size: 14px;
          font-family: Georgia;
          margin-bottom: 8px;
        }

        .item__content {
          .card__box {
            --card-border-color: var(--border-color-light);
            --card-border-radius: 4px;
            --card-padding: 20px;
            --card-bg-color: #fff;
            --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
            --text-color-primary: #303133;

            display: flex;
            flex-direction: column;
            border-radius: var(--card-border-radius);
            border: 1px solid var(--card-border-color);
            background-color: var(--card-bg-color);
            overflow: hidden;
            color: var(--text-color-primary);
            transition: .3;
            box-shadow: var(--box-shadow-light);

            .card__body {
              flex-grow: 1;
              overflow: auto;
              padding: var(--card-padding);

              h4 {
                color: #606266;
                line-height: 1.25;
                font-size: 1.15rem;
              }

              p {
                margin: 1rem 0;
                line-height: 1.7;
                font-size: inherit;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
