<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📅</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../src/img/favicon.ico" />
  <link rel="stylesheet" href="../../src/css/rili.css">
</head>

<body>

  <div class="rilibox">
    <div class="yearbox">
      <img class="yearrili" src="">
    </div>
  </div>

  <div class="switchover left" onclick="handleClick(-1)" title="上一年"></div>
  <div class="switchover right" onclick="handleClick(1)" title="下一年"></div>

  <div class="timelinewrap">
    <ul></ul>
  </div>

</body>

<script src="../../src/js/lib/jquery-2.1.1.min.js"></script>
<script src="./lib/index.js"></script>

</html>
